@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"); */

:root {
  --background-1: #f8f9fa;
  --background-2: #eee;

  /* !PALETA DE COLORES TIERRA*/
  --fisrt: #46211a;
  --second: #693d3d;
  --third: #ba5536;
  --fourth: #a43820;

  /* !PALETA DE COLORES AGUA*/
  --fifth: #003b46;
  --sixth: #07575b;
  --seventh: #66a5ad;
  --eighth: #c4dfe6;

  /* * COLORS */
  --white: #fff;
  --gray: #f8f9fa;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.font-100 {
  font-weight: 100;
}

.font-200 {
  font-weight: 200;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-800 {
  font-weight: 800;
}

.button-more-info:hover {
  box-shadow: inset 14rem 0 0 0 var(--seventh);
  border: 2px solid var(--seventh);
  color: var(--white);
}

.button-view-all-criteria:hover {
  box-shadow: inset 14rem 0 0 0 var(--fifth);
  border: 2px solid var(--fifth);
  color: var(--white);
}

.shadow {
  box-shadow: inset 3000px 0 0 0 rgb(0, 59, 70, 0.6);
}

.practical-cases p {
  opacity: 0;
}

.practical-cases:hover p {
  opacity: 1;
}

/* * OFFER YOU */
.home-services > .text-services-container > div {
  opacity: 0;
  transition: all 0.4s;
}

.home-services:hover .text-services-container > div {
  opacity: 1;
}

.home-services > .text-services-container > div > * {
  margin-left: -100%;
  opacity: 0;
  pointer-events: none;
}

.home-services > .text-services-container:hover > div > * {
  animation: showText 0.3s forwards;
}

/* ! SERVICES */

.service-option > aside:hover {
  cursor: pointer;
}

.service-option > aside:hover > .uppercase::after {
  animation: borde 0.5s forwards;
}

.service-option > aside:hover > .uppercase {
  color: #ba5536;
}

/* ! KEYFRAMES */

@keyframes showText {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-left: 0%;
  }
}

@keyframes borde {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes appear-left {
  0% {
    margin-left: -60%;
    opacity: 0;
  }
  20% {
    opacity: 0;
    margin-left: -30%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
